/*----------------------------------------------------------
4.8 User
----------------------------------------------------------*/
/*=========== User List ==========*/
.peoples{
   .avatar-wrap{
      margin-right: 0.9375rem 
   }
   span{
      word-wrap: break-word !important;
   }
}
.connections{
   .avatar-wrap{
      margin-right: 0.9375rem 
   }
}
.blogs{
   .avatar-wrap{
      margin-right: 1.25rem ;
   }
}
.photo-wrap{
   margin-bottom: -1.875rem ;
}