/*---------------------------------------------------------------
4.10  Button
----------------------------------------------------------------- */
/*========== Buttons =========*/
.btn-pill {
  border-radius: 2.5rem; //40px;
}
.btn {
	text-transform: $btn-transform;
}
/*=========== Badge ==========*/
.badge-style .badge {
	padding: 0.5rem 1.563rem; //8px 25px;
	color: $white;
	margin: 0 0.625rem 0.625rem 0;
}
.badge {
   &.badge-md{
		padding: 0.35rem 0.875rem; //8px 16px
      font-weight: normal;
      min-width:6rem;
      text-transform: capitalize;
	}    
}
.badge-warning,.btn-warning,.btn-warning:hover,.btn-warning:focus,.btn-warning:active{
	color:$white !important;
}
/*=========== Social Buttons ==========*/
.social-icon{
	border-radius: 4px;
	border-width:1px ;
	border-style:solid;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size:1.5rem;
	justify-content: center;
	align-items: center;
	height: 42px;
	width: 42px;
	transition:all 0.3s ease-in-out;
	&.facebook{
		background-color: #405DE6;
		border-color:#405DE6;
	}
	&.google{
		background-color: #D82218;
		border-color:#D82218;
	}
	&.twitter{
		background-color: #1FA2FA;
		border-color:#1FA2FA;
	}
	&.github{
		background-color: #8d6e63;
		border-color:#8d6e63;
	}
	&:hover{
		background-color: $white;
	}
}

/*=================== Icon Button ===================*/
.icon-btn{
	height:2rem;
	width:2rem;
	border-radius:50%;
	border:1px solid $gray-200;
	display:flex;
	justify-content: center;
	align-items:center;
	background-color:transparent;
	margin:0.25rem;
	i{
		font-size: 1.2rem;
	}
	&:hover{
		background-color:rgba(0,0,0,0.1);
	}
	&.md{
		height:2.75rem;
		width:2.75rem;
		&:hover{
			background-color:transparent;
		}
	}
}
.btn:focus, .btn.focus {
	box-shadow: none !important;
}