/*---------------------------------------------------------------
4.9 Right Sidebar
----------------------------------------------------------------- */
/*=========== Right Sidebar ============*/
.idb-customizer,
.chat-sidebar-pan {
	backface-visibility: hidden;
	background: $block-bg;
	bottom: 0;
	position: fixed;
	border-left: 1px solid $input-border-color;
	right: -300px;
	transition: right 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99) 0s;
	width: 300px;
	z-index: 99;
	top: 70px;
	&.panel-hide{
		right: -300px;
	}
}
.theme{
	cursor: pointer;
}
.idb-customizer {
	.settings-panel {
		.theme-options {
		.theme-head {
			border-bottom: 2px solid $input-border-color;
			padding: 1.5rem 1.5rem;
		}
		.theme-body {
			padding: 1.5rem 0;
			.layout-item {
				margin-bottom: 1.5rem;
			}
			.custom-control{
				padding-left: 0;
				margin-right: 0;
			}
			.theme-option-text{
				padding-left: 12px;
			}
		}
		}
	}
}
.customizer-toggle {
	border: medium none;
	color: $white !important;
	cursor: pointer;
	height: 45px;
	left: -45px;
	line-height: 45px;
	position: absolute;
	text-align: center;
	top: 25%;
	width: 45px;
}
.idb-customizer.customizer-out,
.panel-show .chat-sidebar-pan {
	right: 0;
	.fa-wrench{
		-webkit-animation-name: spin;
		animation-name: spin;
		-webkit-animation-duration: 1500ms;
		animation-duration: 1500ms;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
	}
	.fa-wrench::before {
		content: "\f013";
	}
}
.settings-panel, .system-setting {
	overflow-y: scroll;
	overflow-x: hidden;
}
.system-setting {
	text-align: center;
	.setting-header {
		color: $body-color;
		padding: $chat-item-padding;
		border-bottom: $chat-item-border;
		i{
			font-weight: 700;
		}
	}
	ul {
		li {
		padding: $chat-item-padding;
		border-bottom: $chat-item-border;
		// background: $chat-item-bg-color;
		}
	}
}
.form-check-label {
	img {
		margin: 0 -26px 0 -26px;
		display: block;
	}
}
/*========= Animate Customizer Icon ============*/
 @keyframes spin {
	from {
		transform:rotate(0deg);
	}
	to {
		transform:rotate(360deg);
	}
}
@keyframes swing {
	0% { transform: rotate(15deg); }
	100% { transform: rotate(-20deg); }
}
/*========= Swicthes css ============*/
.onoffswitch {
	position: relative;
	width: 75px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.onoffswitch-checkbox {
	display: none;
}
.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border-radius: 20px;
}
.onoffswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 0.875rem; //14px;
  color: $white;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  	content: "\f00c";
	font-family: 'FontAwesome';
	padding-left: 0.625rem; //10px;
	background-color: $success;
	color: $white;
	text-align: left;
}
.onoffswitch-inner:after {
	content: "\f00d";
	font-family: 'FontAwesome';
	padding-right: 0.625rem; //10px;
	background-color: $danger;
	color: $white;
	text-align: right;
}
.onoffswitch-switch {
	display: block;
	width: 18px;
	margin: 0.375rem; //6px;
	background: $white;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 43px;
	border-radius: 20px;
	transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}
.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
@media(max-width:768px) {
	.idb-customizer {
		display: none !important;
	}
}
/*=========== Background Image Gallery =============*/
.customizer-scroll-area{
	height: 80vh;
	position: relative;
} 
.img-holder {
	img{
		border:3px solid transparent;
	}	
	&.active-theme img{
		border-color:$primary;
	}
}

/*=========== Theme styling  =============*/

.green {
	opacity: .9; 
	background: $gradient-success;
	.sidebar-panel {
		.idb-nav {
			> li {
				&.active a {
					background-color: lighten($success, .7%);
					border-color: $sidebar-hover-color
				}
				> a {	
					&:hover {
						background-color: lighten($success, .7%);
						border-color: $sidebar-hover-color;
					}
				}
				ul.sub-menu {
					background-color: lighten($success, .7%);
					> li {
					> a {
						&:hover {
							color: $sidebar-hover-color;
						}
					}
				}
				> li.router-link-exact-active {
					a {
						color: $danger;
					}
					a .dot {
						background-color: $danger;
					}
				}
        	}
      }
    }
  }
  .customizer-toggle {
    background-color: $success !important;
  }
}

.default{
	opacity: .9; 
	background: #2E3344;
}
.orange {
	opacity: .9; 
	background: $gradient-warning;
	.sidebar-panel {
		.idb-nav {	
      	> li {
				&.active a {
					background-color: lighten($orange, 7%);
					border-color: $sidebar-hover-color
				}
				> a {
					// border-left: 6px solid lighten($orange, 7%);
					&:hover {
						background-color: lighten($orange, 7%);
						border-color: $sidebar-hover-color;
					}
				}
				ul.sub-menu {
					background-color: lighten($orange, 7%);
					> li {
						> a {
							&:hover {
								color: $sidebar-hover-color;
							}
						}
					}
					> li.router-link-exact-active {
						a {
							color: $danger;
						}
						a .dot {
							background-color: $danger;
						}
					}
				}
      	}
		}
  	}
  	.customizer-toggle {
    	background-color: $orange !important;
  	}
}

.red {
	opacity: .9; 
	background: $gradient-danger;
	.sidebar-panel {
		.idb-nav {
			> li {
			&.active a {
				background-color: lighten($danger, 7%);
				border-color: $sidebar-hover-color
			}
			> a{
					// &:hover{
					// 	border-left: 6px solid lighten($danger, 7%);
					// }
					&:hover {
						background-color: lighten($danger, 7%);
						border-color: $sidebar-hover-color;
					}
				}
				ul.sub-menu {
					background-color: lighten($danger, 7%);
					> li {
					> a {
						&:hover {
							color: $sidebar-hover-color;
						}
					}
				}
				> li.router-link-exact-active {
					a {
					color: $danger;
					}
					a .dot {
					background-color: $danger;
					}
				}
			}
			}
		}
	}
	.customizer-toggle {
		background-color: $danger !important;
	}
}

.more-theme-style {
	a {
		color: $body-color;
		i {
			padding-right: 0.7rem;
		}
	}
}
@media (min-width:1201px){
	.boxed-layout-xl{
		display: block;
	}
}
@media (max-width:1200px){
	.boxed-layout-xl{
		display: none;
	}
}