/*---------------------------------------------------------------
4.11  Table
----------------------------------------------------------------- */
/*============== Tables css ===================*/
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}
.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, 0.03);
}
.table {
	.radio,
	.checkbox,
	.checkbox label,
	.radio label {
		 margin: 0;
	}
	thead,tbody {
		tr {
			th, td {
				padding: 1.25rem 0.75rem;
				font-size:0.875rem;
				vertical-align: middle;
				white-space: nowrap;
			}
			th{
				
				font-weight:500;
			}
		}
	}
}

.table-middle {
    thead,
    tbody,
    tfoot {
        tr {
            td,
            th {
                vertical-align: middle;
            }
        }
    }
}
.table-no-border {
    td,
    th {
        border: 0;
        padding: 0.85rem;
    }
}
.table-inverse {
	color: #f3f3f3;
	background-color: #14171a;
}

.table
  tr.bg-success th, tr.bg-danger th, tr.bg-warning th, tr.bg-info th, tr.bg-primary th, tr.bg-inverse th
  tr.bg-success td, tr.bg-danger td, tr.bg-warning td, tr.bg-info td, tr.bg-primary td, tr.bg-inverse td {
    color: $white;
}
.thead-default th{
	color: #878787;
    background-color: #eaeaea;
}
#basic-table{
	.table-head,.contexual-table{
		thead {
			> tr {
				th {
					padding: 0.75rem ;
				}
			}
		}
	}
}
.custom-table {
   thead,tbody {
		tr {
			th, td {
				border: none;
			}
			th{
				
				font-weight:500;
			}
		}
	}
	tbody {
		td{
			min-height:3rem;
		}
		tr:hover{
			background-color: rgba(0, 0, 0, 0.05);
		}
	}
	.badge {
		padding: 0.3125rem 0.5rem; //5px 8px
		font-weight: normal;
		min-width:auto;
		text-transform: capitalize;
	}
}
.table-action {
   a{
      color: $gray-500;
	}
	.icon-btn {
		height: 1.5rem;
		width: 1.5rem;
		border: 0;
		margin: 0.25rem;
   }
}
.crypto-table{
	tbody tr td i{
		font-size:1.5rem;
	}
}